######################################
# Visual Studio per-user settings data
######################################
*.suo
*.user

####################
# Build/Test folders
####################

**/bin/
**/obj/
**/TestResults/
**/Temp/
**/NuGet.exe
**/buildlogs/

**/*.userprefs
/sdk/src/obj
/sdk/src/bin
/packages
/sdk/packages
/sdk/test/CrossPlatformTests/AndroidApp/Assets/credentials.json
/sdk/test/CrossPlatformTests/CommonTests/Resources/settings.json
/sdk/.nuget
/Deployment
/sdk/sample/TODOList/packages
/sdk/test/CrossPlatformTests/WindowsPhoneApp/AppPackages/*.appxupload
/sdk/test/CrossPlatformTests/WindowsPhoneApp/AppPackages/WindowsPhoneApp_1.0.0.0_x86_Test/*.appx
/sdk/test/CrossPlatformTests/WindowsPhoneApp/AppPackages/WindowsPhoneApp_1.0.0.0_x86_Test/*.appxsym
/sdk/xamarin-component/CognitoSync/*.xam
/sdk/test/CrossPlatformTests/WindowsApp/AppPackages/WindowsApp_1.0.0.0_ARM_Test
/sdk/test/CrossPlatformTests/WindowsApp/AppPackages/WindowsApp_1.0.0.0_x86_Test
/sdk/test/CrossPlatformTests/WindowsPhoneApp/AppPackages/WindowsPhoneApp_1.0.0.0_x86_Debug_Test
/sdk/test/CrossPlatformTests/WindowsPhoneApp/AppPackages/WindowsPhoneApp_1.0.0.0_x86_Test/Dependencies/ARM
/sdk/test/CrossPlatformTests/WindowsPhoneApp/AppPackages/WindowsPhoneApp_1.0.0.0_x86_Test/Dependencies/x86
/sdk/test/CrossPlatformTests/WindowsApp/AppPackages/WindowsApp_1.0.0.0_ARM.appxupload
/sdk/test/CrossPlatformTests/WindowsApp/AppPackages/WindowsApp_1.0.0.0_x86.appxupload
