######################################
# Visual Studio per-user settings data
######################################
*.suo
*.user

####################
# Build/Test folders
####################

**/bin/
**/obj/
**/TestResults/
**/Temp/
**/NuGet.exe
**/buildlogs/

**/*.userprefs
/sdk/src/obj
/sdk/src/bin
/packages
/sdk/packages
/sdk/test/CrossPlatformTests/AndroidApp/Assets/credentials.json
/sdk/test/CrossPlatformTests/CommonTests/Resources/settings.json
/sdk/.nuget
