<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core" />
  </configSections>
  <aws
    profileName="default"
    region ="us-east-1"
    applicationName="SyncManagerIntegrationTests">
    <logging logTo="SystemDiagnostics" logResponses="Always" logMetrics="true"/>
  </aws>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="Amazon">
        <listeners>
          <!--<add name="text" type="System.Diagnostics.TextWriterTraceListener" initializeData="tests-35-log.txt" />-->
           <add name="console" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="DateTime"/>
          
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
<system.data>
    <DbProviderFactories>
    </DbProviderFactories>
  </system.data></configuration>
